{% extends "base.html" %} {% block title %} Home {% endblock %} 
{% load custom_filters %}
{% load static %}
{% block content %}

<script src="{% static 'SeaYou_Scripts/ETASearchScript.js' %}"></script>

<div class="flexColCenter">
    <h1 class="h1">Vessels approaching Port of Antwerp</h1>
    
    {% comment %} Search bar {% endcomment %}
    <div class="searchBar">
        <div class="searchItem">
            <label for="searchDate">ETA from</label>
            <input type="date" id="searchDate" onchange="filterByDate()" placeholder="ETA from..."class="searchInput">
        </div>
        <div class="searchItem">
            <label for="searchTerminal">Terminal </label>
             <select id="searchTerminal" onchange="filterTerminal()" class="searchInput">
                <option value="">Terminal...</option>
                <option value="K1700">K1700</option>
                <option value="K913">K913</option>
                <option value="K869">K869</option>
                <option value="K1742">K1742</option>
                <option value="K1718">K1718</option>
                <option value="K120-K124">K120-K124</option>
            </select>
        </div>
        <div class="searchItem">
            <label for="searchTerminalOperator">Terminal operator</label>
            <select id="searchTerminalOperator" onchange="filterTerminalOperator()" class="searchInput">
                <option value="">Terminal Operator...</option>
                <option value="DPW">DPW</option>
                <option value="PSA">PSA</option>
                <option value="MPET">MPET</option>
                <option value="CSPZ">CSPZ</option>
            </select>
        </div>
        <div class="searchItem">
            <label for="searchVesselName">Vessel Name</label>
            <input type="text" id="searchVesselName" onkeyup="filterVesselName()" placeholder="Vessel name..." class="searchInput" >
        </div>
        <div class="searchItem">
            <label for="searchVesselIMO">Vessel IMO</label>
            <input type="text" id="searchVesselIMO" onkeyup="filterVesselIMO()" placeholder="Vessel imo..." class="searchInput" >
        </div>
    </div>
    {% comment %} End of Search bar {% endcomment %}

    {% comment %} ETA Table {% endcomment %}
    <table id="myTable" class="font-mainFont text-left">
        <thead>
            <tr>
                <th class="th">Terminal</th>
                <th class="th">Terminal Operator</th>
                <th class="th">Vessel Name</th>
                <th class="th">Vessel IMO</th>
                <th class="th">Voyage Out</th>
                <th class="th">ETA</th>
                <th class="th">ETD</th>
                <th class="th">Cargo Opening</th>
            </tr>
        </thead>
        <tbody>
            {% for eta in data %}
                <tr class="tr">
                    <td class="td">{{eta.terminalCode}}</td>
                    <td class="td">{{eta.terminalOperatorCode}}</td>
                    <td class="td">{{eta.vesselName}}</td>
                    <td class="td">{{eta.imo}}</td>
                    <td class="td">{{eta.voyageOut}}</td>
                    <td class="td">{{eta.eta|parse_and_format_date}}</td>
                    <td class="td">{{eta.etd|parse_and_format_date}}</td>
                    <td class="td">{{eta.cargoOpening|parse_and_format_date}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% comment %} End of ETA Table {% endcomment %}
</div>

{%endblock%}